fastapi
uvicorn[standard]
gunicorn
sqlalchemy
pymysql
alembic
pydantic
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
email-validator
python-dotenv
httpx
cryptography
redis
celery
pytest
pytest-asyncio
eval-type-backport
